.container {
    background-color: #f1f1f1;
    height: 100%;
    padding: 0 50px;
}

.control {
    background-image: url('/images/stourbridge-home-ba-2024.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.number {
    color: white;
    display: flex;
    flex: 1;
    font-size: 15vh;
    font-weight: 900;
    flex-direction: column;
    text-shadow: 2px 2px 4px #000000;
}

.drawingNumber {
    margin: auto auto;
    padding-top: 50px;
}

.footer {
    /*height: 180px;*/
    margin-bottom: 1rem;
}

.currentWinnerContainer {
    /*height: 100px;*/
}

.currentWinner {
    align-items: center;
    background-color: #f1f1f1;
    background-color: rgba(241, 241, 241, 0.8);
    border: solid 1px black;
    display: flex;
    font-size: 5vh;
    gap: 2rem;
    padding: 0 1rem;
}

.drawButtonContainer {
    height: 50px;
    margin-top: 1rem;
    text-align: center;
}